@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}